<div class="col-8 offset-2">
  <%= simple_form_for @user do |f| %>
    <%= f.input :name, label: false, placeholder: "Please input name" %>
    <%= f.input :age, label: false, placeholder: "Please input age" %>
    <%= f.input :address, label: false, placeholder: "Please input address" %>
    <%= f.input :sex, :collection => [['Man',1],['Woman',2]] %>
    <%= f.submit "Create User", class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
