<% if @publisher.present? %>
  <h1>publisher <%= @publisher.address %></h1>
  <h1>publisher <%= @publisher.name %></h1>

  <p>
    <%= @publisher.address %>
  </p>

  <p>
	<%= @publisher.name %>
  </p>
  <%= link_to 'Edit', edit_publisher_path(@publisher) %>
 
<% end %>

<h3> quanttity of books :<%=@publisher.books.count%></h3>
<% @publisher.books.each do |book| %>
  <p>
    <%= book.title %>
    <% if book.persisted? %>
      <%= link_to 'Destroy', book_path(book), method: :delete %>
   <% end %>
  </p>

<% end %>

<p>book here</p>
