<% if @publisher.present? %>
  <h1>publisher <%= @publisher.address %></h1>
  <h1>publisher <%= @publisher.name %></h1>

  <p>
    <%= @publisher.address %>
  </p>

  <p>
	<%= @publisher.name %>
  </p>
  <%= link_to 'Edit', edit_publisher_path(@publisher) %>
  <%= link_to 'Destroy', publisher_path(@publisher), method: :delete %>
<% else %>
  <p>No book found</p>
<% end %>
