<div class="col-8 offset-2">
  <h1 class="text-center text-primary">Listing of Customers</h1>
  <%= link_to 'New Customer', new_customer_path, class:'badge badge-pill badge-primary'  %>
  <table class="table table-striped">
    <thead class="border-off">
      <tr class="text-center text-primary">
        <th>No</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each_with_index do |customer,index| %>
        <tr class="text-center text-primary">
          <td><%= index +1 %></td>
          <td><%= customer.name %></td>
          <td><%= customer.sex%></td>
          <td><%= customer.age%></td>
          <td><%= render 'action', customer: customer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
