<h1>customer <%= @customers.name %></h1>

<p>
  <%= @customers.sex %>
</p>

<p>
	<%= @customers.age %>
</p>

<% if @customer.present? %>
  <p>customer name: <%= @customer.name %></p>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customers) %>
<%= link_to 'Destroy', customer_path(@customers), method: :delete %>

