<div class="container-fluid px-0">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr class="border-off text-center text-primary">
        <th class="text-center text-primary">No.</th>
        <th>Title</th>
        <th>View count</th>
        <th>Author</th>
        <th>Description</th>
        <th>Publisher</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each_with_index do |book, index| %>
        <tr class="text-center text-primary">
          <td class="text-center text-primary"><%= index+1 %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td class="text-center text-primary"><%= book.view_count %></td>
          <td><%= book.author %></td>
          <td><%= book.description %></td>
          <td class="px-0">
            <% if book.publisher.present? %>
              <%= book.publisher.name %>
            <% end %>
          </td>
          <td >
            <% if book.category.present? %>
              <%= book.category.name %>
            <% end %>
          </td>
          <td class="px-0"><%= render 'action', book: book %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
