<table  class="table table-striped">
  <thead  class="thead-inverse">
    <tr class="border-off">
      <th>Title</th>
      <th>View count</th>
      <th>Author</th>
      <th>Description</th>
      <th>Publisher</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book, index| %>
      <tr>
        <td><%= link_to "#{index}. #{book.title}", book_path(book) %></td>
        <td><%= book.view_count %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>
        <td>
          <% if book.publisher.present? %>
            <%= book.publisher.name %>
          <% end %>
        </td>
        <td>
          <% if book.category.present? %>
            <%= book.category.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>