

<h2>List of current books</h2>

<h3> Quantity of books :<%= @books.count %></h3>
<h3> Pirce of all books :<%= Book.sum(:price) %></h3>

<%= link_to 'Publishers', publishers_path %>

<%= link_to 'New book', new_book_path  %>
<ul>
  <% @books.each do |book| %>
    <li>
    	<h3><%= link_to book.title, book_path(book) %></h3>
    	<p><%= book.author %></p>
    	<p><%= book.description %></p>
    	<% if book.publisher.present? %>
    	  <p>Publisher name: <%= book.publisher.name %></p>
    	<% end %>
    </li>

  <% end %>
</ul>
