<h2 class="text-center text-primary">List of Books</h2>
<div class="col-8 offset-2">
  <%= link_to 'Publishers', publishers_path, class: "badge badge-pill badge-primary" %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Sort by name', books_path(order: 'name'), class: 'padding-left' %></li>
      <li><%= link_to 'Sort by views count', books_path(order: 'views_count'), class: 'padding-left' %></li>
      <li><%= link_to 'Sort by time', books_path(order: 'id'), class: 'padding-left' %></li>
    </ul>
  </div>
  <br>
  <span class="float-right"><%= paginate @books, window: 2  %></span> 
  <%= render 'table', book: @book %>
  <span class="float-right"><%= paginate @books, window: 2  %></span> 
</div>