<h1> New book</h1>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </p>

   <p>
    <%= f.label :publisher_id %>
    <%= f.select :publisher_id, Publisher.pluck(:name, :id) %>
  </p>

<p>
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.pluck(:name, :id) %>
  </p>

  <%= f.submit %>

<% end %>