<h1> Edit Editors</h1>

<%= form_for @editors do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :birth_year %>
    <%= f.text_field :birth_year %>
  </p>

  <%= f.submit %>

<% end %>