<h1> Editors</h1>

<%= form_for @book do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :birth_year %>
  <%= f.text_area :birth_year %>
  
  <%= f.text_area :phone %>
  <%= f.text_area :phone %>

  <%= f.submit %>

<% end %>