<h1>editor <%= @editor.name %></h1>

<p>
  <%= @editor.phone %>
</p>

<p>
	<%= @editor.birth_year %>
</p>

<% if @editor.present? %>
  <p>editor name: <%= @editor.name %></p>
<% end %>

<%= link_to 'Edit', edit_editor_path(@editor) %>
<%= link_to 'Destroy', editor_path(@editor), method: :delete %>

<h3>Reviews</h3>
<% @editor.reviews.each do |review| %>
  <p>
  	<%= review.content %>
  	<% if review.persisted? %>
	  	<%= link_to 'Destroy', review_path(review), method: :delete %>
	 <% end %>
  </p>

<% end %>

<p>Review here</p>
<%= form_for @review do |f| %>
  <%= f.hidden_field :editor_id %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>