<h1> New Location </h1>

<%= form_for @location do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :district %>
  <%= f.text_field :district %>

  <%= f.submit %>

<% end %>